<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--BootStrap-->
    <link rel="stylesheet" href="./assets//css//bootstrap.min.css">
    <!-- Esto está personalizado en assets/css/styles.css -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>Página Web | Demo</title>
</head>