{{> head }}
{{> navbar }}

<body>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Captura de pantalla</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sit provident nostrum officiis quas reiciendis quae facere, omnis odit ab ullam fuga voluptate perspiciatis soluta necessitatibus in nihil porro debitis.</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/imagen.png">
        </div>

    </div>
</div>
    

    {{> footer }}
    
</body>